<div>
    <div class="order-one ng-scope">
        <img class="img-aside pizza-icon" alt="Піца" src="<%=pizza.icon%>">
        <p class="bold mb10 ng-scope">
            <span class="order-title"><%= pizza.title%> (<%=pizza[size].title%>)</span>
        </p>
        <div class="order-text">
            <img class="diagonal-image" src="assets/images/size-icon.svg">
            <span class="diagonal">40</span>
            <img class="gram-image" src="assets/images/weight.svg">
            <span class="gram"><%= pizza[size].weight%></span>
        </div>
        <div class="price-box">
            <span class="price"><%= pizza[size].price %> грн. </span>
            <button class="minus btn btn-xs btn-danger btn-circle">
                <i class="glyphicon glyphicon-minus icon-white">
                </i>
            </button>
            <span class="label order-pizza-count" style="color:black;"></span>
            <button class="plus btn btn-xs btn-success btn-circle">
                <i class="glyphicon glyphicon-plus icon-white">
                </i>
            </button>
            <button class="count-clear btn btn-xs btn-default btn-circle" href="#">
                <i class="glyphicon glyphicon-remove icon-white">
                </i>
            </button>
        </div>
    </div>
</div>